#preloader-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: #fff;
}

#preloader{
    max-width: 100px;
    max-height: 100px;
    
    animation-name: animatic;
    animation-duration: 2s; /* or: Xms */
    animation-iteration-count: 1;
    animation-fill-type: forwards;
    
}

@keyframes animatic{

    0%{opacity:1;}
    100%{opacity:0;}

}
