#preloader-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: #fff;
}

#preloader{
    max-width: 200px;
    max-height: 200px;
}
