*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    background-color:rgb(0, 74, 117);
    padding-bottom:10px;
}

.navbar{
    min-width:100%;
    height:60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 5px rgb(63, 63, 63);
}
.logo{
    font-size: 25px;
    color: rgb(0, 74, 117);
}
.option-area{
    width:30%;
}

.option-list{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
.option a{
    text-decoration: none;
    color:black;
}
.option a::after{
    display: block;
    content:' ';
    width:5px;
    height:5px;
    background:#3BAFD3;
    opacity:0;
    transition:all 0.3s ease;
}
.option a:hover::after{
    display: block;
    content:' ';
    width:100%;
    height:5px;
    background:#3BAFD3;
    opacity:1;
}

.active{
    font-weight: 800;
}

.container{
    display: flex;
    justify-content: center;
}
.visualizer-container{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height:580px;
    width:80%;
    margin-top:10px;
    background-color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.algos{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height:580px;
    width:18.00%;
    margin-top:10px;
    background-color:rgb(59, 175, 211);
    padding:10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.algohead{
    margin-top: 20px;
    font-size: 20px;
}
.footer{
    display: flex;
    min-width:100%;
    min-height:56px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom:0px;
    box-shadow: 0px -2px 5px rgb(65, 65, 65);
    justify-content: center;
    align-items: center;
}



.btn{
    padding: 10px;
    font-size: 17px;
    border: none;
    outline:none;
    cursor: pointer;
    height: fit-content;
    width:70%;
}

.generate{
    width: fit-content;
    margin-top: 20px;
    background-color: rgb(28, 86, 172);
    color:white;
    transition: all 0.3s ease;
    border-radius: 10px;
}
.generate:hover{
    background-color: rgb(13, 67, 168);
    color:rgb(255, 255, 255);
}

.hr{
    min-width: 100%;
    background-color:black;
    height:1px;
    outline:none;
    border:none;
}

.technique{
    margin-top:10px;
    margin-bottom:10px;
    padding:10px;
    outline: none;
    font-size: 17px;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.run{
    width: fit-content;
    margin-top:98%;
    border: 1px solid rgb(44, 156, 44);
   border-radius: 10px;
   background-color: white;
   color: rgb(44, 156, 44);
   transition: all 0.3s ease;
}
.run1{
    width: fit-content;
   border: 1px solid rgb(44, 156, 44);
   border-radius: 10px;
   background-color: white;
   color: rgb(44, 156, 44);
   transition: all 0.3s ease;
}
.run:hover{
   background-color: rgb(44, 156, 44);
   color:white;
}
.run1:hover{
    background-color: rgb(44, 156, 44);
    color:white;
 }



.visualizer{
    width:1200px;
    height:97%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform: translateX(0px);
    transition: all 0.03s ease;
}
.visualizer1{
    width:1200px;
    height:97%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateX(0px);
    transition: all 0.03s ease;
}
.abouttext{
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.abouthead{
    font-size: 32px;
    padding:10px;
    font-weight: 600;
}

.obj{
    width:10px;
    border-radius: 10px;
    background-color:#3BAFD3;
    margin-right:0.5px;
    margin-left:0.5px; 
    
}
.obj:hover{
    background-color:rgb(238, 230, 112);
}
.success{
    background-color: #57ad57;
}
.running{
    background-color:rgb(212, 99, 99);
}
.run-running{
    pointer-events: none;
    background-color: rgb(212, 99, 99);
    color:white;
}
.swap{
    background-color: maroon;
}
.inprogress{
    color: rgb(190, 190, 190) !important;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}





.loader {
    color: #0eb92a;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  

  .warning{
      margin-top:10px;
      color: white;
      background-color:  rgb(255, 145, 0);
      margin-left: 9.5px;
      padding:2px;
      border-radius: 10px;
  }